<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gcox.fansmeet">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".AppsterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".features.flashscreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name=".pushnotification.OneSignalNotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RefreshFollowerListService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9b0b92e603421279da5e43954d5224648698b03e" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".features.main.MainActivity"
            android:configChanges="layoutDirection|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".features.rewards.RewardActivity"
            android:parentActivityName=".features.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gcox.fansmeet.features.main.MainActivity" />
        </activity>
        <activity
            android:name=".features.prizelist.PrizeListActivity"
            android:label="@string/title_activity_prize_list"
            android:parentActivityName=".features.rewards.RewardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gcox.fansmeet.features.rewards.RewardActivity" />
        </activity>
        <activity
            android:name=".core.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".features.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".features.profile.ChallengeListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".features.post.ActivityPostMedia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.topfans.TopFanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.challengedetail.ChallengeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.challengeentries.ChallengeEntriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.editvideo.RecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".features.setting.SettingActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".features.refill.ActivityRefill"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".features.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.stars.StarsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".features.loyalty.LoyaltyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".features.profile.userprofile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.editvideo.EditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".features.postchallenge.PostChallengeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.editprofile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.invitefriend.InviteFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.follow.ActivityFollow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.comment.ActivityComments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".features.blocked_screen.BlockedUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.ActivityViewWeb"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".features.imageeditor.EditImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>